.newProduct {
  margin-top: 100px;
  width: 100%;
}

.newPost__button {
  cursor: pointer;
  color: rgb(80, 240, 80)
}

.newPost__img {
  width: 600px;
  height: 300px;
  border-radius: 10px;
  text-align: center;
  object-fit: contain;
}
