.products {
  text-align: -webkit-center;
  // margin-top:100px;

  display: flex;
  margin: 100px 224px;
  &__item {
    margin: 0 20px;
    text-align: center;
    justify-content: space-between;
  }
}

.container {
    
}

.productListMenu {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    &__content{
        margin-bottom: -100px;
        align-self: center;
        flex: 4
    }
    &__left {
        margin-top: 60px;
        padding-left: 40px;
        flex: 1
    }
}

.card-body_header {
    display: flex;
    justify-content: space-between;
}